---
---

@import "bootstrap";
@import "font-stack";

body {
  width: 100%;
  height: 100%;
  font-family: $primary-font-stack;
  color: #fff;
  background-color: {{ site.color.primary-dark }};
  webkit-tap-highlight-color: rgba(255,255,255,0.2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 50px 0 35px;
  text-transform: uppercase;
  font-family: $primary-font-stack;
  font-weight: 700;
  letter-spacing: 1px;
}

.intro {
  .logo {
    width: 200px;
    margin: 0 0 0;
  }
  h1 {
    margin: 0;
    text-align: center;
    letter-spacing: 15px;
  }
}


p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}

@media(min-width:767px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}

a {
  color: {{ site.color.links }};
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  &:hover,
  &:focus {
    text-decoration: none;
    color: lighten({{ site.color.links }}, 10%);
  }
}

.light {
  font-weight: 400;
}

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255,255,255,.3);
  text-transform: uppercase;
  font-family: $primary-font-stack;
  background-color: {{ site.color.primary-dark }};
  .navbar-brand {
    font-weight: 700;
    &:focus {
      outline: 0;
    }
    .navbar-toggle {
      padding: 4px 6px;
      font-size: 16px;
      color: #fff;
      &:focus,
      &:active {
        outline: 0;
      }
    }
  }
  a {
    color: #fff;
  }
  .nav li {
    text-align: center;
    &.active {
      outline: none;
      background-color: rgba(255,255,255,.3);
    }
    a {
      -webkit-transition: background .3s ease-in-out;
      -moz-transition: background .3s ease-in-out;
      transition: background .3s ease-in-out;
      &:hover,
      &:focus,
      &.active {
        outline: 0;
        background-color: rgba(255,255,255,.3);
      }
    }
  }
}

@media(min-width:767px) {
  .navbar {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
    background-color: rgba({{ site.color.primary-dark }}, 0.5);
  }

  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255,255,255,.3);
  }
}

.intro {
  display: table;
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url(/img/intro-bg.jpg) no-repeat center center fixed;
  background-color: {{ site.color.primary-dark }};
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  .intro-body {
    display: table-cell;
    vertical-align: middle;
    .brand-heading {
      font-size: 40px;
    }
    .intro-text {
      font-size: 18px;
    }
  }
}

#story {
  .quote {
    width: 80%;
    margin: 50px auto;
    border-left: 2px solid lightgrey;
    padding-left: 20px;
    p {
      text-align: left;
      margin: 0;
    }
    .quoteRef {
      text-align: right;
      color: lightgrey;
      font-size: 18px;
      margin: 0;
    }
  }
  .codeLanguages {
    .iconContainer {
      display: inline-block;
      margin: 10px 35px;
      i {
        font-size: 5em;
      }
      p {
        margin: 0;
      }
    }
  }
}

.storyIntro {
  display: table;
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  // background: url(/img/intro-bg.jpg) no-repeat center center fixed;
  // background-color: {{ site.color.primary-dark }};
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  .intro-body {
    display: table-cell;
    vertical-align: middle;
    .brand-heading {
      margin: 15px;
      font-size: 40px;
    }
    .intro-text {
      font-size: 18px;
    }
  }
}

@media(min-width:767px) {
  .intro {
    padding: 0;
    .intro-body {
      .brand-heading {
        font-size: 100px;
      }
      .intro-text {
        font-size: 25px;
      }
    }
  }
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 35px;
  font-size: 40px;
  color: #fff;
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
  &:hover,
  &:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
  }
  i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
  }
  &:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

.download-section {
  width: 100%;
  padding: 50px 0;
  color: #fff;
  background: url(/img/downloads-bg.jpg) no-repeat center center fixed;
  background-color: {{ site.color.primary-dark }};
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media(min-width:767px) {

  section#contact.content-section {
    height: calc(100vh - 130px);
  }
  section#about.content-section {
    max-width: 850px;
  }
  section#story.content-section {
    max-width: 850px;
  }

  .download-section {
    padding: 100px 0;
  }

}

.btn {
  text-transform: uppercase;
  font-family: $primary-font-stack;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-default {
  border: 1px solid {{ site.color.links }};
  color: lighten({{ site.color.primary-dark }}, 100%);
  background-color: rgba({{site.color.links}}, 0.5);
  &:hover,
  &:focus {
    border: 1px solid {{ site.color.links }};
    outline: 0;
    color: lighten({{ site.color.primary-dark }}, 100%);
    background-color: {{ site.color.links }};
  }
}

ul.banner-social-buttons {
  margin-top: 0;
  li {
    margin-bottom: 15px;
  }
}

@media(max-width:1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media(max-width:767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}


.samPhoto {
  height: 250px;
  width: 200px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 120px / 150px;
  img {
    width: 200px;
  }
}

footer {
  padding: 50px 0;
  p {
    margin: 0;
  }
}

::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255,255,255,.2);
}

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255,255,255,.2);
}

img::selection {
  background: 0 0;
}

img::-moz-selection {
  background: 0 0;
}

#about {
  h3 {
    margin: 0;
  }
}

#projects {
  background: white;
  width: 100%;
  color: black;
  .projectContainer {
    display: block;
    width: 840px;
    height: auto;
    margin: 0 auto;
    .project {
      height: 300px;
      width: 400px;
      background: black;
      float: left;
      overflow: hidden;
      position: relative;
    }
    &:nth-child(3) .project, &:nth-child(5) .project {
      float: right;
    }

    .projectDescription {
      display: inline-block;
      width: 400px;
      height: 300px;
      margin: 10px;
      overflow: hidden;
      h3 {
        margin: 10px;
      }
      p {
        font-size: 15px;
      }
      .fa-cloud, .fa-code {
        font-size: 5em;
        color: black;
        margin: 0 50px;
      }
    }
    &:last-child {
      .iconContainer {
        display: inline-block;
        width: 90px;
        vertical-align: top;
        .fa-cloud, .fa-code {
          margin: 0 10px;
        }
        p {
          color: grey;
          font-weight: 100;
        }
      }
    }

    .projectPhoto {
      height: 300px;
      width: auto;
      display: block;
      margin: 0 auto;
      margin-left: -100px;
      transition: all .2s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media (max-width: 870px) {
  #projects {
    .projectContainer {
      width: auto;
      height: auto;
      .project, .projectDescription {
        width: 100%;
        height: auto;
      }
      .projectPhoto, .projectDescription {
        width: 100%;
        height: auto;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 736px) {
  .download-section, .intro {
    background-image: none;
    background: white;
    h1, p {
      color: black;
    }
  }

  .btn-circle {
    display: none;
  }
  .intro {
    padding: 50px 0 0;
    height: 100vh;
    .logo {
      margin: 0;
    }
  }
  #projects .projectContainer .projectPhoto,
  #download, #codeLanguages {
    display: none;
  }
  .container {
    padding: 0;
    margin: 0;
  }

  .intro {
    h1 {
      margin: 0;
      letter-spacing: 10px;
    }
  }
}
