#blog {
  grid-template-columns: 5% 90% 5%;
  justify-items: left;
  grid-gap: 0;
  & > * {
    grid-column: 2;
  }
  #search_box {
    width: 100%;
    background: $secondary-color;
    border: none;
  }
  #default-post-list, #search_results {
    li {
      margin: 1rem 0;
      display: grid;
      time {
        grid-row: 2;
        font-size: 1rem;
      }
      h3 {
        grid-row: 1;
        border: none;
        a {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

@media only screen and (min-device-width: 380px) {
  #blog {
    grid-template-columns: 20% 60% 20%;
    #default-post-list, #search_results {
      li {
        grid-template-columns: 10rem auto;
        time, h3 {
          grid-row: 1;
        }
      }
    }
  }
}
