---
layout: page
title: Writing
permalink: /blog/
section_id: blog
---

<h1>Writing</h1>
<p class="blog-intro">Selected writing and archived technical notes from my work across engineering, product, and software problem solving.</p>

<ul id="default-post-list">
	{% for post in site.posts %}
	<li>
		<time>{{ post.date | date: "%b %-d, %Y" }}</time>
		<h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
		{% if post.excerpt %}
		<p>{{ post.excerpt | strip_html | truncatewords: 24 }}</p>
		{% endif %}
	</li>
	{% endfor %}
</ul>
