---
---

//Syntax code highlighting to see colors in code blocks
@import "syntax";

// CSS frameworks
@import "bootstrap";

// Variables
@import "font-stack";
@import "colors";

// Components
@import "text";
@import "button";

// Pages
@import "nav";
@import "home";
@import "contact";
@import "footer";
@import "story";
@import "blog";

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: $primary-font-stack;
  color: lighten($primary-color, 100%);
  background-color: $primary-color;
}
