<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">
      <img src="images/logo.png" alt="samyounger logo" style="width: 150px" /><br>
			<header>
				<h2>SAM YOUNGER</h2>
			</header>
			<p>
				Web Developer<br>
				Former investment manager<br/>
				Coding enthusiast
			</p>
			<footer>
				<ul class="buttons vertical">
					<li><a href="#main" class="button fit scrolly">Scroll down</a></li>
				</ul>
			</footer>

		</div>

</section>
