<!-- Contact Section -->
<section id="contact">
  <div class="content">
    <h2>Contact</h2>
    <p>I always enjoy meeting new people and hearing what they are up to.</p>
    <p><a href="mailto:{{ site.email }}">{{ site.email }}</a>
    </p>
    <ul>
      {% for network in site.social %}
      <li class="button">
        <a href="{{ network.url }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-{{ network.title }} fa-fw" aria-hidden="true"></i> <span class="network-name">{{ network.title }}</span><span class="sr-only"> opens in a new tab</span></a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
