<nav class="pageTop">
  <div class="hamburger">
    <div></div>
    <div></div>
    <div></div>
  </div>

  {% if page.layout == "post" %}
  <ul class="post-nav">
    <li>
      <a href="{{ page.previous.url }}">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="/blog" class="navbar-brand">All Posts</a>
    </li>
    <li>
      <a href="{{ page.next.url }}">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
    </li>
  </ul>

  {% endif %}

  {% if page.layout != "post" %}

  <ul class="main-nav right-nav">
    <li><a href="/">Home</a></li>
    {% for page in site.pages %} {% if page.title %}
    <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
    {% endif %} {% endfor %}
    <li class="hamburger-close"><a href="#"><i class="fa fa-angle-double-up"></i></a></li>
  </ul>

  {% endif %}

</nav>
