<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
      <i class="fa fa-bars"></i>
    </button>
    <a class="navbar-brand" href="/">
      <span class="light">Home</span>
    </a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
    <ul class="nav navbar-nav">
      <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
      <li class="hidden">
        <a href="#page-top"></a>
      </li>
      <li>
        <a class="page-scroll" href="#story">Sam's story</a>
      </li>
      <li>
        <a class="page-scroll" href="#contact">Contact</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
    </ul>
  </div>
</nav>
