.home-about#about {
  padding: 1rem;
  text-align: center;
  grid-template-columns: 1fr;
}


@media only screen and (min-device-width: 380px) {
  .home-about {
    text-align: center;
    grid-template-columns: 20% auto 20%;
    & > * {
      grid-column: 2;
    }
  }
}
