header {
	display: grid;
	justify-items: center;
	align-content: baseline;
	grid-gap: 3rem 0;
	text-align: center;
	height: 90vh;
	img {
		width: 80%;
	}
}

@media only screen and (min-device-width: 380px) {
	header {
		background: url("../assets/images/background.jpg") no-repeat center center fixed;
		background-size: cover;
		height: 100vh;
		margin-top: -6rem;
		align-content: center;
		h1 {
			font-size: 100px;
			height: 100px;
			line-height: 100px;
			letter-spacing: 5px;
			text-transform: uppercase;
			border: none;
			a {
				color: lighten($primary-color, 100%);
			}
		}
		h2 {
			color: white;
			font-size: 30px;
			border: none;
			text-transform: none;
		}
		img {
			width: 10rem;
		}
	}
}
