#projects {
  background: lighten($primary-color, 100%);
  color: black;
  text-align: center;
  .project-container {
    .project-description {
      display: grid;
      justify-items: center;
      .icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 50%;
        padding: 1rem;
        a {
          i {
            font-size: 4rem;
            color: $primary-color;
            &:focus {
              color: lighten($primary-color, 100%);
            }
          }
          &:focus {
            background: lighten(black, 80%);
            color: lighten($primary-color, 100%);
          }
        }
      }
    }
    .photo {
      img {
        width: 100%;
      }
    }
  }
  .project-container:last-child {
    .icons {
      width: 100%;
      grid-template-columns: repeat(4,1fr);
      a:last-child {
        grid-column: span 4;
      }
    }
  }
}

@media only screen and (min-device-width: 380px) {
  #projects {
    .project-container {
      &:nth-child(odd) {
        .photo {
          order: 1;
        }
        .project-description {
          order: 2;
        }
      }
      .photo {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      a {
        height: 3rem;
        line-height: 3rem;
        i {
          font-size: 3rem;
          color: $primary-color;
          margin: 0 1rem;
        }
      }
      .icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        p { text-align: right }
        a:hover {
          background: lighten($primary-color, 90%);
          transition: 0.25s;
        }
        &.double a {
          grid-column: 2;
        }
      }
    }
  }
}
