#projects {
  background: lighten($primary-color, 100%);
  color: black;
  text-align: center;
  .project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &:nth-child(odd) {
      .photo {
        order: 1;
      }
      .project-description {
        order: 2;
      }
    }
    .photo {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    a {
      height: 3rem;
      line-height: 3rem;
      i {
        font-size: 3rem;
        color: $primary-color;
        margin: 0 1rem;
      }
    }
    .icons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      p { text-align: right }
      a:hover {
        background: lighten($primary-color, 90%);
        transition: 0.25s;
      }
      &.double a {
        grid-column: 2;
      }
    }
  }
}
