@use "../variables/colors" as *;

footer {
  padding: 1.5rem;
  border-top: 1px solid $border-color;
}

footer p {
  margin: 0;
  text-align: center;
  display: block;
  color: $muted-color;
  font-size: 0.9rem;
}
