// Main Nav
nav {
	text-align: right;
	ul.right-nav {
		grid-column: 2;
		display: inline-grid;
		grid-template-columns: repeat(4,1fr);
		justify-items: center;
		li {
			padding: 1rem;
		}
	}

	// BlogPost Nav
	ul.post-nav {
		margin: 0 auto;
		padding: 1rem;
		display: grid;
		grid-template-columns: 1fr 5fr 1fr;
		justify-items: center;
		max-width: 15rem;
		a {
			text-decoration: none;
		}
		li a i {
			height: 100%;
		}
	}
}
