#blogIndex {
  min-height: 100vh;
  max-width: 850px;
  margin: 0 auto;
  padding: 50px 15px;
  p {
    padding: 0;
  }
  ul {
    padding: 0;
    li {
      font-size: 20px;
      list-style: none;
      padding: 10px 0;
    }
  }
}

#blogPost {
  min-height: calc(100vh - 80px);
  max-width: 850px;
  margin: 80px auto 0;
  padding: 0 5px;
  background: lighten($primary-color, 100%);
  color: black;
  h2, h3 {
    margin: 10px 0;
  }
  h3 {
    font-size: 15px;
  }
  .postTitle {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
  }
  p {
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 736px) {
  #blogIndex {
    background-image: none;
    background: lighten($primary-color, 100%);
    color: black;
  }
  #blogIndex ul li a {
    color: black;
  }
}
