#blogIndex {
  min-height: 100vh;
  padding: 50px 15px;
  p {
    padding: 0;
  }
  ul {
    padding: 0;
    li {
      font-size: 20px;
      list-style: none;
      padding: 10px 0;
    }
  }
}

#blogPost {
  margin-top: 80px;
  min-height: calc(100vh - 80px);
  background: white;
  color: black;
  h2, h3 {
    margin: 10px 0;
  }
  h3 {
    font-size: 15px;
  }
  .postTitle {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
  }
  p {
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
}
