.navbar {
  padding: 0 10px !important;
  letter-spacing: 1px;
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out;
  .navbar-header {
    a {
      padding: 15px 0;
      i {
        padding: 10px;
      }
    }
    &:hover {
      color: lighten($primary-color, 100%);
    }
  }
  .collapse {
    ul li a {
      &:hover {
        color: lighten($primary-color, 100%);
        background: none;
      }
    }
  }
}

.top-nav-collapse {
  padding: 0;
  background-color: rgba($primary-color, 0.5);
}

@media (max-width: 870px) {
  .navbar-nav {
    padding-left: 20px;
    li:hover {
      background: lightgrey;
    }
  }
}

@media (max-width: 736px) {
  .navbar-toggle {
    color: $secondary-color;
  }
  .nav li a, .navbar-header a i {
    color: black;
  }
  .navbar {
    background-image: none;
    background: lighten($primary-color, 100%);
    color: black;
  }
  .navbar-brand .light, .fa-bars {
    color: black;
  }
}
