@use "sass:color";

$primary-color: white;
$secondary-color: #76d690;
$text-color: black;
$text-color-offset: color.adjust($text-color, $lightness: 90%);
$text-color-secondary: color.adjust(#76d690, $lightness: -20%);
