#about {
  display: grid;
  grid-template-columns: 20% auto 20%;
  & > * {
    grid-column: 2;
  }
  .code-languages {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
    justify-items: center;
    .icon-container {
      display: grid;
      justify-items: center;
    }
  }
}
