#blogIndex {
  min-height: 100vh;
  max-width: 850px;
  margin: 0 auto;
  padding: 50px 15px;
  text-align: left;
  p {
    padding: 0;
  }
  ul {
    padding: 0;
    li {
      font-size: 20px;
      list-style: none;
      padding: 10px 0;
    }
  }
}

#blogPost {
  min-height: calc(100vh - 80px);
  max-width: 850px;
  margin: 80px auto 0;
  padding: 5px;
  background: lighten($primary-color, 100%);
  color: black;
  text-align: left;
  h1, h2, h3, h4 {
    padding: 0 0 10px 0;
    margin: 10px 0;
    border-bottom: 3px solid $secondary-color;
  }
  h1 {
    font-size: 25px;
    padding: 10px 0;
  }
  h2 {
    display: inline-block;
    font-size: 20px;
  }
  h3 {
    display: inline-block;
    font-size: 18px;
  }
  h4 {
    display: inline-block;
    font-size: 16px;
  }
  hr {
    margin: 5px 0;
  }
  .blog_title, .blog_date {
    margin: 10px 0;
  }
  .blog_date {
    font-size: 15px;
    border: none;
    padding: 0;
    margin: 0;
  }
  .blog_title {
    padding: 5px 0;
    border: none;
  }
  .postTitle {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
  }
  p {
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  a {
    display: inline-block;
    color: darken($secondary-color, 20%);
    background: lighten($primary-color, 95%);
    padding: 10px;
    margin: 10px 0;
    border-radius: 3px;
    border: 2px solid darken($secondary-color, 20%);
    &:hover {
      background: lighten($primary-color, 100%);
    }
  }
  table {
    border: 1px solid black;
    margin: 10px 0;
    th {
      text-align: center;
      // background: $secondary-color;
      font-weight: bold;

    }
    td, th {
      border: 1px solid lighten($primary-color, 80%);
      padding: 5px;
    }
  }
  .postTitle + div .highlight:first-of-type {
    word-break: normal;
    background-color: $secondary-color;
  }
  pre {
    margin: 10px 0;
  }
}

@media (max-width: 736px) {
  #blogIndex {
    background-image: none;
    background: lighten($primary-color, 100%);
    color: black;
  }
  #blogIndex ul li a {
    color: black;
  }
}
