@use "../variables/colors" as *;
@use "../variables/fonts" as *;

.button {
  display: inline-block;
  margin: 0;
  border: 1px solid $border-color;
  color: $text-color;
  background-color: transparent;
  text-transform: none;
  font-family: $primary-font-stack;
  transition: all .3s ease-in-out;
  &:hover,
  &:focus {
    border-color: $text-color-secondary;
    background-color: $text-color-secondary;
  }
  a {
    display: block;
    min-height: 44px;
    padding: 0.75rem 1rem;
    color: $text-color;
    font-weight: 800;
    transition: all .3s ease-in-out;
    &:hover {
      color: $surface-color;
      text-decoration: none;
    }
  }
  &:hover a,
  &:focus-within a {
    color: $surface-color;
  }
}
