---
layout: default
---

<div class="navSpacer">
  <div class="postNav">
    <a href="{{ page.previous.url }}">
      <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
    </a>
    <a href="/blog" class="navbar-brand">
      <span class="light">BLog list</span>
    </a>
    <a href="{{ page.next.url }}">
      <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
    </a>
  </div>
</div>
<section id="blogPost" class="content-section">
  <div class="postTitle">
    <h1 class="blog_title">{{ page.title }}</h1>
    <h2 class="blog_date">{{ page.date | date_to_long_string }}</h2>
  </div>
  {{ content }}
</section>
