<!-- About Section -->
<section class="home-about" id="about">
  <h2>About Me</h2>
  <p>
    Currently I am a co-founder of <a href="https:///kytra.app">Kytra</a>. I have also been a software engineer, investor, stock broker, tractor driver, barman.
  </p>

  <h3>Kytra</h3>
  <div class="container left">
    <img src="/assets/images/companies/kytra.png" />
    <div>
      <p>
        Kytra is an investing assistant app to help self directed investors manage their portfolios and make more informed investment decision.
      </p>
      <p>
        I am one of the two co-founders, both coding up the react-native mobile app, and strategic co-ordination of the business.
      </p>
      <p>
        We are currently located in the 70 Wilson Street WeWork labs, doing our first marketing of the app and seeking out our first investors.
      </p>
      <p>
        This business has been in progress for over a year part time, and full time since November 2019.
      </p>
      <p>
        To find out more check out our website <a href="https://kytra.app">LINK</a>.
      </p>
    </div>
  </div>

  <hr/>

  <h2>How I got to where I am today?</h2>

  <h3>Stock market investing</h3>
  <p>
    From the age of 18 I had an interest in investment. I traded my way through Aberdeen University, and enjoyed doing it so much on graduating with a degree I decided I wanted to work in the stockbroking industry.
  </p>

  <h3>Stockbroking</h3>
  <div class="container right">
    <p>
      I worked at  <a href="https://www.killik.com">Killik & Co</a> for 5 years as an advisory stockbroker advising on portfolio construction, basic financial advice (pensions, ISAs, trusts), and recommending trading ideas on stocks, bonds, alternatives, and funds.
    </p>
    <img src="/assets/images/companies/killik.jpg" />
  </div>

  <h3>Investment Management</h3>
  <div class="container left">
    <img src="/assets/images/companies/sarasin.jpg" />
    <p>
      I worked at <a href="https://www.sarasinandpartners.com">Sarasin & Partners</a> for 4 years as a discretionary investment manager of high net work private client portfolios. It was during this time I recognised the speed of change taking place in the industry due to technological innovation, so I committed to becoming part of the force for change.
    </p>
  </div>

  <h3>General Assembly</h3>
  <div class="container right">
    <p>
      I learnt to be a full stack software engineer at <a href="https://generalassemb.ly">General Assemly</a>, learning Node JS, MongoDB, PostgreSQL, Angular 1, and Rails. They helped me curate a new CV as a software engineer and land my first software engineering job.
    </p>
    <img src="/assets/images/companies/ga.png" />
  </div>

  <h3>Captain AI</h3>
  <div class="container left">
    <img src="/assets/images/companies/captain.png" />
    <p>
      <a href="https://www.captain.ai">Captain AI</a> was a very steep learning curve, I was introduced to machine learning and micro services. I had a high level of responsibility very early on as one of two back end software engineers. There we took a monolithic rails application to a micro services stack of c. 25 services.
    </p>
  </div>

  <h3>Drover</h3>
  <div class="container right">
    <p>
      I had a brief stint at <a href="https://www.joindrover.com">Drover</a>. It clearly had an amazing business model and was growing at a rate of knots, however with my limited work experience I struggled to work with what was a monolithic Rails application of tightly bound spaghetti code. They were making reasonable progress at simplifying it, but I was not patient enough nor felt like I was learning fast enough.
    </p>
    <img src="/assets/images/companies/drover.jpg" />
  </div>

  <h3>Farmdrop</h3>
  <div class="container left">
    <img src="/assets/images/companies/farmdrop.jpg" />
    <p>
      I made the jump to <a href="https://www.farmdrop.com">Farmdrop</a> to gain further experience of transitioning a monolithic Rails application to microservices. It offered the chance to work with setting up Kafka, GraphQL, a Neo4j database and elasticsearch. As a series B company with a large client base, it was another steep learning curve of new technologies and building scalable applications. I had great fun there but unfortunatley it failed to secure a sizeable enough funding round.
    </p>
  </div>

  <h3>Contracting - Soho House</h3>
  <p>
    I did a brief stint at <a href="https://www.sohohouse.com">Soho House</a> as a contracting software engineer. There I got the businesses back-end ready for Strong Customer Authentication payments.
  </p>

  <ul>
    <li class="button">
      <a href="/about/">More about me</a>
    </li>
  </ul>
</section>
