@use "../variables/colors" as *;
@use "../variables/fonts" as *;

h1, h2, h3, h4 {
  display: inline-block;
  font-family: $primary-font-stack;
  font-weight: 300;
  letter-spacing: 0;
  padding: 0 0 0.1rem 0;
  margin: 0.5rem 0 1rem;
  border-bottom: 3px solid $secondary-color;
}

h1 {
  font-size: clamp(2rem, 1.45rem + 2vw, 3.25rem);
}
h2 {
  font-size: clamp(1.55rem, 1.25rem + 1vw, 2.25rem);
}
h3 {
  font-size: clamp(1.2rem, 1.1rem + 0.4vw, 1.5rem);
}
h4 {
  font-size: 1rem;
}

a {
  color: $text-color-secondary;
  text-decoration: none;
  margin: 0 0.2rem;
  &:hover {
    // color: $text-color-secondary-hover;
    border-bottom: 1px solid $text-color-secondary;
  }
  &.main-link {
    padding: 1rem;
    margin: 0;
    display: inline-block;
  }
}

p {
  font-size: 20px;
  padding: 10px 0;
}

strong {
  font-weight: bold;
}

.light {
  font-weight: 400;
}

.quote {
  text-align: left;
  border-left: 1px solid $secondary-color;
  padding-left: 1rem;
  &:before {
    content: open-quote;
  }
  &:after {
    content: close-quote;
  }
}

hr {
  width: 100%;
}

// Ordered list styling
ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol li {
  counter-increment: my-awesome-counter;
}
ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: $primary-color;
  font-weight: bold;
}

@media (max-width: 736px) {
  a {
    color: $secondary-color;
  }
}
